data/river-zone-stations.json
data/rivers-readings-written.json
data/SEPA_River_Levels_Web.csv
data/river-sections.json
data/scheduled-sections.json
data/rivers-readings.json
data/rivers_download_timestamp
data/*.csv
data/history*
config/database.php
tests/data/rivers_download_timestamp
tests/data/10048-SG.csv
tests/data/9514-SG.csv
tests/data/SEPA_River_Levels_Web.csv
tests/data/133094-SG.csv
config.php
admin/htpasswd
data/download_reading_timestamp
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
farsoncookie
data/farson-camera-locations
data/section-forecasts.json
data/DOWNLOAD-READINGS-TIMESTAMP
data/RIVERS_DOWNLOAD_TIMESTAMP
*~
data/*weather.json
data/sepa-id-to-riverzone-id.json
CRON-UPDATE-SEPA-GAUGES-AND-BACKUP-LOCK
config.ini
